{% extends 'todobase/main.html' %} 
{% block content %}

<div class="header-bar">
<h1>Sign up</h1>
</div>

<div class="card-body">
<form method="POST">
{% csrf_token %}
<lable style="color: #6C3483">{{form.username.label}}</lable>
{{form.username}}

<lable style="color: #6C3483">{{form.password1.label}}</lable>
{{form.password1}}

<lable style="color: #6C3483">{{form.password2.label}}</lable>
{{form.password2}}
<input style="margin-top: 15px;" class="button" type="submit" value= "Register">
</form>
<p>Do you already have a login? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock content %}